body {
  margin: 40px auto;
  width: 550px;
  height: 550px;
  background-color: #02184B;
  font-family: 'Inter', sans-serif;
}

/* Utility */
.flex {
  display: flex;
}

#password-interface {
  background-color: #4C1D95;
  color: #fff;
  flex-direction: column;
  padding: 100px 50px;
  align-items: left;
}

/* .colors {
  border-top: 2px solid #2F3E53;
} */

.main-title {
  font-size: 40px;
  margin-bottom: 5px;
  font-family: 'Karla', sans-serif;
}

.greenText {
  color: #10B981;
}

.main-subhead {
  color: #D5D4D8;
  padding-bottom: 20px;
  font-size: 22px;
}

#btn-el {
  background-color: #10B981;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  width: 200px;
  margin-bottom: 20px;
}

#btn-el:hover {
  background-color: #936AF9;
}

.line {
  margin-bottom: 20px;
  width: 450px;
  border-top: 1px solid #2F039C;

}

/* Password Container */
.passwordContainer {
  justify-content: space-between;
  align-items: left;
}

.passwords {
  background: #111827;
  border: none;
  border-radius: 5px;
  width: 210px;
  padding: 15px 0px;
  text-align: center;
  height: 20px;
  align-items: center;
  color: #10B981
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
}

/* input */
input {
  border: none;
  border-radius: 5px;
  width: 45px;
  padding: 5px 5px;
  margin: 8px 0 15px 0;
  font-style: bold;
  color: #10B981;
  text-align: center;
  font-size: small;
}

#input-length {
  background-color: #111827;
}

/* Input invalid & Error messages */ 
input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  box-shadow: none;
}

.error {
  width: 100%;
  padding: 0;
  font-size: 80%;
  font-weight: bold;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
 
}

.error.active {
  padding: 20px;
  margin-bottom: 5px;
}

/* Toggle  */
#symbols {
  margin-top: 10px;
  flex-direction: row;
  align-items: center;
  padding-bottom: 30px;
  gap: 8px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

#input-symbol:checked+.slider {
  background-color: #2196F3;
}

#input-symbol:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

#input-symbol:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}