body {
    margin: 40px auto;
    width: 550px;
    height: 550px;
    background-color: #02184B;
    font-family: 'Inter', sans-serif;
}

#password-interface {
  background-color: #4C1D95;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 100px;
  padding-right: 50px;
  padding-bottom: 100px;
  align-items: left;
}

.colors {
    border-top: 2px solid #2F3E53;
}

h1 {
    font-size: 40px;
    margin-bottom: 5px;
    font-family: 'Karla', sans-serif;
}

.greenText {
    color: #10B981;
}

p {
    color: #D5D4D8;
    padding-bottom: 20px;
    font-size: 22px;
}

#btn-el {
    background-color: #10B981;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 200px;
}

#btn-el:hover {
    background-color: #936AF9;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 450px;
    border: 1px solid #2F039C;
    
}

.passwordContainer {
    display: flex;
    justify-content: space-between;
    align-items: left;
}
   
.passwords {
    background: #111827;
    border: none;
    border-radius: 5px;
    width: 210px;
    padding: 15px 0px;
    text-align: center;
    height: 20px;
    align-items: center;
    color: #10B981
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
}

input {
  border: none;
  border-radius: 5px;
  width: 45px;
  padding: 5px 5px;
  margin-top: 8px;
  margin-bottom: 15px;
  font-style: bolder;
  color: #10B981
}


/* toggle example
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

 // Rounded sliders 
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} */